body {
    padding-top: 56px;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: #f8f9fa;
    
}

.content-box {
    background-color: #e9ecef;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
}

.main-section {
    padding: 20px;
}

.side-section {
    background-color: #f8f9fa;
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }
  nav.sticky {
    background-color: #f8f9fa;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-bottom: 20px; 
}
#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  .close-btn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .toggle-btn {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
  }

  /* Style for active form */
  .active-form {
    display: block;
  }

  .inactive-form {
    display: none;
  }
  #currentcity
  {
    display: none;
  }
  label
  {
    color: black;
  }


